
*.lib
!assimp-vc143-mtd.lib
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.html
*.txt
*.out
test/application/test
**/.vs/
**/bin
*.db
**/lib/*
**/bin/*
font/test/lib/
gui/tests/lib/
simple/test/gl/2d_renderer/lib/
test/file/lib
test/ds/lib
