*.obj
*.pdb
*.ilk
*.exe
*.html
*.txt
*.out
test/application/test
**/.vs/
**/bin
*.db
**/bin/*
**/test/**/lib/
test/ds/hashtable/.cache/clangd/index
external/joltc/samples
external/joltc/src
external/joltc/build
external/joltc/build_debug
external/joltc/.github
external/joltc/JoltPhysics
